// use this file for variables and mixins that could apply to all pages 
// create separate .scss files for each page 

body {
    background-color: black;
    background-image: url('images/FoodBackground.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
  
// theme colors 
$darkest-color: black;
$darker-color: grey;
$middle-color: red;
$light-color: green;
$lightest-color: blue; 