// scss page for consumer
@use 'main';

nav {
  background-color: #5e72e4;
  a { color: white; }
  a:hover { color: white; }
  padding-left: 8rem !important;
}

.container {
  background: whitesmoke;
  border-radius: 10px;
  margin-top: 10vh;
}

.barGraphBox {
  height: 10px;
  background-color: #5e72e4;
}

.barGraphContainer {
  display: inline-flex;
  align-items: center;
  width: 1000px;
}

.barGraphContainer p {
  margin-left: 10px;
}